{
  "printWidth": 100,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "useTabs": false
}
